.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 0.5rem 2.3rem 0.5rem;
  /* Assignment 4 - new */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  box-shadow: 0 0 transparent, 0 0 transparent, 0px 7px 35px rgba(180, 189, 223, 0.4);
  padding: 0.8em;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.Business:hover {
  box-shadow: 0 10px 20px 4px rgba(35, 35, 35, 0.1);
}
.Business .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}
d .Business h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Business-information {
  display: flex;
  justify-content: space-between;
}

.Business-information p {
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  color: #cca353;
  font-weight: 600;
}

.Business-reviews .rating {
  font-size: 0.88rem;
  line-height: 1rem;
}
